other_utils/clean_data/*
__pycache__/*
dataset/__pycache__/__init__.cpython-39.pyc
dataset/__pycache__/custom_dataset.cpython-39.pyc
dataset/__pycache__/pascal_voc_dataset.cpython-39.pyc
dataset/__pycache__/ped_dataset.cpython-39.pyc
notebooks/*
.vscode/*
